html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: var(--color-secondary);
  background: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.defaultBrowserMargin {
  margin: 8px;
}
button,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
figcaption,
footer,
ul,
li,
a {
  all: unset;
}

a:hover {
  cursor: pointer;
}
/* UTOPIA GRID */
/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.5rem;
    --grid-gutter: var(--space-s-l,
        clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

/* UTOPIA SPACES */
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-2xl&g=s,l,xl,12 */

:root {
  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
    /* Space 3xs-m: 5px → 30px */
      --space-3xs-m: clamp(0.3125rem, -0.231rem + 2.7174vw, 1.875rem);
  /* Space s-2xl: 18px → 80px */
  --space-s-2xl: clamp(1.125rem, -0.2228rem + 6.7391vw, 5rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
}

/* UTOPIA FONTS */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    /* Step -4: 8.6806px → 8.192px */
      --step--4: clamp(0.512rem, 0.5532rem + -0.0531vw, 0.5425rem);
      /* Step -3: 10.4167px → 10.24px */
      --step--3: clamp(0.64rem, 0.6549rem + -0.0192vw, 0.651rem);
      /* Step -2: 12.5px → 12.8px */
      --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
      /* Step -1: 15px → 16px */
      --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    /* Step 1: 21.6px → 25px */
      --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
      /* Step 2: 25.92px → 31.25px */
      --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
      /* Step 3: 31.104px → 39.0625px */
      --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
      /* Step 4: 37.3248px → 48.8281px */
      --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
      /* Step 5: 44.7898px → 61.0352px */
      --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
      /* Step 6: 53.7477px → 76.2939px */
      --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
      /* Step 7: 64.4973px → 95.3674px */
      --step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);
}

/* COLORS */
:root {
  --color-primary: #f4eddb;
    --color-secondary: #000000;
    --color-tertiary: #bf2024;
    --color-tertiary-light: #cc373a;
    --color-quaternary: #f4f4f4;
    --color-quinary: #ffd700;
  }
    .colorPrimary {
      color: var(--color-primary) !important;
    }
  
    .colorSecondary {
      color: var(--color-secondary) !important;
    }
  
    .colorTertiary {
      color: var(--color-tertiary) !important;
    }
  
    .colorQuaternary {
      color: var(--color-quaternary) !important;
    }
  
    .colorQuinary {
      color: var(--color-quinary) !important;
    }
  
    /* FONTS */
:root {
  --font-primary: "Roboto Serif", serif;
    --font-primary-weight: 400;
    --font-primary-style: normal;
    --font-primary-italic: "Roboto Serif", serif;
    --font-primary-italic-weight: 400;
    --font-primary-italic-style: italic;
    --font-primary-bold: "Roboto Serif", serif;
    --font-primary-bold-weight: 700;
    --font-primary-bold-style: normal;
    --font-secondary-medium: "IBM Plex Mono", monospace;
    --font-secondary-medium-weight: 500;
    --font-secondary-medium-style: normal;
    --font-secondary-bold: "IBM Plex Mono", monospace;
    --font-secondary-bold-weight: 700;
    --font-secondary-bold-style: normal;
  }
  
  .fontPrimary {
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight);
    font-style: var(--font-primary-style);
    line-height: calc(1.8 * var(--space-s));
  }
  
  .fontPrimaryItalic {
    font-family: var(--font-primary-italic);
    font-weight: var(--font-primary-italic-weight);
    font-style: var(--font-primary-italic-style);
  }
  
  .fontPrimaryBold {
    font-family: var(--font-primary-bold);
    font-weight: var(--font-primary-bold-weight);
    font-style: var(--font-primary-bold-style);
  }
  
  .fontSecondaryMedium {
    font-family: var(--font-secondary-medium);
    font-weight: var(--font-secondary-medium-weight);
    font-style: var(--font-secondary-medium-style);
  }
  
  .fontSecondaryBold {
    font-family: var(--font-secondary-bold);
    font-weight: var(--font-secondary-bold-weight);
    font-style: var(--font-secondary-bold-style);
}

@media (max-width: 540px) {
  .fontPrimary {
    line-height: calc(1.6 * var(--space-s));
  }
}

/* ACCESIBILITY */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* LINKS */
.activeLink {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 25%;
}
.activeLink:hover {
  color: var(--color-tertiary);
}

.arrowRightUp {
  display: inline-block;
  width: 15px;
  height: 15px;
}